

PORT=3000

MONGO_URL=mongodb://mongo-user:123456@localhost:27017/
MONGO_DB_NAME=mystore

SEND_EMAIL=true

MAILER_EMAIL=
MAILER_SECRET_KEY=
MAILER_SERVICE=gmail

MONGO_USER=mongo-user
MONGO_PASS=123456


POSTGRES_USER=postgres
POSTGRES_DB=SISTEMA_NOMINA
POSTGRES_PORT=5432
POSTGRES_PASSWORD=123456

POSTGRES_URL=postgresql://postgres:123456@localhost:5432/SISTEMA_NOMINA?schema=public

JWT_SEED=CualquierCosaGG

WEBSERVICE_URL=http://localhost:3000/api

INITIAL_SUPERADMIN_EMAIL=superadmin@gmail.com
INITIAL_SUPERADMIN_PASSWORD=superadmin123

